.container-ourservice {
  width: 100%;
  height: 1178px;
}
.container-our {
  margin-top: 150px;
}
.text {
  width: 437px;
}
.span-text {
  color: var(--subtitle-new, #376a66);
  text-align: center;

  /* PC/sub tit con */
  font-family: Averta Std CY;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.h1-textt {
  font-family: Averta Std CY;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 106.667% */
  letter-spacing: -3px;
  text-transform: capitalize;
  background: var(
    --xanh-linear,
    linear-gradient(180deg, #4ca757 0%, #16a571 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 470px;
}
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.img1 {
  width: 457.561px;
  height: 463px;
  display: block;
  transition: transform 0.3s;
  margin-left: -7rem;
}

.sv2 {
  width: 290.491px;
  height: 194.429px;
  margin-left: 24rem;
  margin-top: -13rem;
  transition: transform 0.3s;
}
.image-container:hover .sv2 {
  transform: scale(1.2); /* Apply the zoom effect when hovering the container */
}
.sv3 {
  width: 413.162px;
  height: 312.867px;
  object-fit: cover;
  margin-left: 24rem;
  margin-top: -29rem;
  display: inline;
  transition: transform 0.3s;
}
.sv4 {
  width: 413.162px;
  height: 312.867px;
  object-fit: cover;
  margin-left: 50.3rem;
  margin-top: -20.3rem;
  display: inline;
  transition: transform 0.3s;
}
.rectango {
  margin-left: 384px;
  margin-top: 4px;
  width: 214.446px;
  height: 143.668px;
  flex-shrink: 0;
  background: var(
    --xanh-linear,
    linear-gradient(180deg, #4ca757 0%, #16a571 100%)
  );
}
.spanrec {
  color: var(--text-color-white, #fff);
  font-family: Averta Std CY;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 100% */
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-left: 3rem;
  margin-top: 4rem;
}
.spanrec2 {
  color: var(--text-color-white, #fff);
  font-family: Averta Std CY;
  font-size: 61.48px;
  font-style: normal;
  font-weight: 700;
  line-height: 61.352px; /* 99.792% */
  letter-spacing: -1.23px;
  text-transform: uppercase;
}
.h5-rec {
  color: var(--text-color-white, #fff);
  font-family: Averta Std CY;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 2rem;
}
.sv5 {
  width: 290.491px;
  height: 194.429px;
  margin-left: 43rem;
  margin-top: -12.7rem;
  object-fit: cover;
  transition: transform 0.3s;
}
.sv6 {
  width: 290.491px;
  height: 194.429px;
  margin-left: 62rem;
  margin-top: -12.7rem;
  object-fit: cover;
  transition: transform 0.3s;
}
.sv7 {
  width: 413.162px;
  height: 312.867px;
  object-fit: cover;
  margin-left: 76.7rem;
  background: lightgray -8.346px 0px / 113.752% 100% no-repeat;
  margin-top: -20.2rem;
  display: inline;
  transition: transform 0.3s;
}
.deg {
  width: 413.162px;
  height: 312.867px;
  object-fit: cover;
  margin-left: 81.7rem;
  background: lightgray -8.346px 0px / 113.752% 100% no-repeat;
  margin-top: -19.5rem;
  display: inline;
}
.sv8 {
  width: 416px;
  height: 236px;
  object-fit: cover;
  margin-left: 14rem;
  margin-top: -10rem;
  transition: transform 0.3s;
}
.add {
  margin-left: 45rem;
  margin-top: -10rem;
}
.see-more {
  position: absolute;
  color: #fff;
  font-size: 18px;
  margin-top: -2rem;
  /* top: 1rem; */
  margin-top: -5.7rem;
  margin-left: 1.5rem;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.sv2,
.sv3.sv4,
.sv5.sv6,
.sv7.sv8,
.img1 {
  transition: transform 0.3s ease; /* Add a transition with ease timing function */
}

.sv2:hover,
.sv3:hover,
.sv4:hover,
.sv5:hover,
.sv6:hover,
.sv7:hover,
.sv8:hover,
.img1:hover {
  transform: scale(1.2); /* Apply the zoom effect when hovering the images */
}
