.news-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Thêm các thuộc tính CSS bạn muốn áp dụng cho container ở đây */
}
.news {
  color: var(--subtitle-new, #376a66);
  text-align: center;
  margin-left: 4rem;
  font-family: Averta Std CY;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.last-news {
  /* PC/heading 1 */
  font-family: Averta Std CY;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 133.333% */
  letter-spacing: -3px;
  text-transform: capitalize;
  background: var(
    --xanh-linear,
    linear-gradient(180deg, #4ca757 0%, #16a571 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  margin-left: 4rem;
  margin-top: 7rem;
}

.see-moree {
  display: flex;
  width: 178px;
  height: 60px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--grad, linear-gradient(180deg, #4ca757 0%, #16a571 100%));
  box-shadow: 0px 0px 50px 0px rgba(73, 178, 93, 0.16);
  margin-right: 5rem;
  color: #fff;
  text-align: center;
  font-family: Averta Std CY;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}
.image-containerrr {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7rem;
  margin-left: 4rem;
}
.image-item {
  width: 25%; /* 4 cột, margin giữa các ảnh là 10px */
  margin-bottom: 20px;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}
img {
  width: 375px;
  height: 248.062px;
  object-fit: cover;
  margin-bottom: 10px;
}

.image-title {
  color: var(--white, #fff);

  /* PC/h4 */
  font-family: Averta Std CY;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
  letter-spacing: -0.6px;
  width: 346px;
  margin-left: 1rem;
}

.navigation-buttons {
  display: flex;
  margin-left: 28px;
  margin-top: 68px;
}

button {
  margin-left: 2rem;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.title-bottom {
  background: var(
    --xanh-linear,
    linear-gradient(180deg, #4ca757 0%, #16a571 100%)
  );
  width: 375px;
  height: 124px;
  position: relative;
  top: -1rem;
}
.date {
  color: #fff;

  /* PC/regular */
  font-family: Averta Std CY;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  margin-left: 21px;
}
